<html>
<head>

</head>
<body>
<h1>
Welcome to the Sample Workaround for OCI-Lob's!
</h1>
<p><a href="{{ path('mayflower_oci8_test_upload_form') }}">Upload new Files</a></p>
<p>
    Total File Size {{ totalSize }}
</p>
    <table border="1">
    <thead>
    <tr>
        <th>row</th>
        <th>Id</th>
        <th>Filename</th>
        <th>FileSize</th>
        <th>MimeType</th>
    </tr>
    </thead>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.row }}</td>
            <td><a href="/image/{{ asset.id }}">{{ asset.id }}</a></td>
            <td>{{ asset.filename }}</td>
            <td>{{ asset.filesize }}</td>
            <td>{{ asset.mimetype }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
