<html>
<head>

</head>
<body>
<h1>
    Welcome to the Sample Workaround for OCI-Lob's!
</h1>
<h2 style="color: {{ noticeColor }};">{{ notice }}</h2>
<pre style="color: red;">{{ trace }}</pre>
<h2>
    Upload form
</h2>
{{ form(form) }}

<h3><a href="{{ path('mayflower_oci8_test_homepage') }}">Back to List of Assets</a></h3>
</body>
</html>
